
*{
    font-family: 'Merriweather Sans', sans-serif;
    font-family: 'MuseoModerno', cursive;
    color: #4A4A4A;
}

header {
    text-align: center;
    font-size: 80px;
    margin-bottom: 20px;
    padding: 0;
    border-color: rgb(42, 133, 218);
}

#currentCity{
    font-size: 40px;
}
#cityDate{
    font-size: 20px;
    font-weight: bold;
}

#cityIcon{
    max-width: 100%;
    height: auto;
}

